pre.mac_classic .LibraryObject {
   font-weight: bold;
}
pre.mac_classic .Section {
   font-style: italic;
}
pre.mac_classic .MarkupTagAttribute {
   font-style: italic;
}
pre.mac_classic .LibraryVariable {
   font-weight: bold;
}
pre.mac_classic .FunctionParameter {
   font-style: italic;
}
pre.mac_classic .MarkupHeading {
   font-weight: bold;
}
pre.mac_classic .InheritedClassName {
   font-style: italic;
}
pre.mac_classic .MarkupQuote {
   font-style: italic;
}
pre.mac_classic .MarkupNameOfTag {
   font-weight: bold;
}
pre.mac_classic .LibraryConstant {
   font-weight: bold;
}
pre.mac_classic .PreprocessorDirective {
   font-weight: bold;
}
pre.mac_classic .BuiltInConstant {
   font-weight: bold;
}
pre.mac_classic .MarkupDtd {
   font-style: italic;
}
pre.mac_classic .LibraryFunction {
   font-weight: bold;
}
pre.mac_classic .UserDefinedConstant {
   font-weight: bold;
}
pre.mac_classic .Keyword {
   font-weight: bold;
}
pre.mac_classic .FunctionName {
   font-weight: bold;
}
pre.mac_classic .Comment {
   font-style: italic;
}
